{% extends "tethys_apps/app_header_content.html" %}
{% load tethys static %}
{% block title %}{{ block.super }} - Home{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'usgs_mrms/css/processing.css' %}">
{% endblock %}

{% block app_content %}
<div class="process-container">
  <p>{{ message }}</p>
  <div class="spinner"></div>
</div>
<div class="error-message-container">
  <p class="error-message"></p>
  <button onclick=returnToPreviousPage() class="btn btn-primary">Return</button>
</div>
<script id="processing-data" type="application/json">
  {
    "csrfToken": "{{ csrf_token }}",
    "state": "{{ state }}",
    "gageId": "{{ gage_id|default:"" }}",
    "runId": "{{ run_id|default:"" }}",
    "workers": "{{ workers|default:"" }}",
    "processType": "{{ process_type|default:"" }}"
  }
</script>
<script src="{% static 'usgs_mrms/js/processing.js' %}"></script>
{% endblock %}